@font-face {
	font-family: 'Brown';
	src: url('./assets/Fonts/Brown-Regular.otf'); /* IE9 Compat Modes */
  	src: url('./assets/Fonts/Brown-Regular.otf?#iefix') format('opentype'), /* IE6-IE8 */
       url('./assets/Fonts/Brown-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('./assets/Fonts/Brown-Regular.woff') format('woff'),
}

/* GENERAL STYLES */

* {
	color: white;
	font-family: 'Brown';
	text-align: center;
	/*transition: all 300ms cubic-bezier(0.445, 0.05, 0.55, 0.95);*/
	/*transition-duration: 300ms;*/
	user-select: none;
}

html {
}

body {
	transition: 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	background-color: black;
    background-image: url('assets/Design/Homepage/Edel_Promo_2017_Background_156ppl_v2.jpg');
	background-size: cover;
	background-repeat: repeat-y;
	
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: "Open Sans", "lucida grande", "Segoe UI", arial, verdana, "lucida sans unicode", tahoma, sans-serif;
}

h2 {
	font-size: 3em;
	margin: 0px;
	color: white;
}

h3 {
	font-size: 1.3em;
	line-height: 1.2em;
	color: white;
}

h4 {
	font-size: 1em;
	color: white;
	letter-spacing: 0.3em;
	line-height: 1.3em;
	margin: 2em 0 0 0;
}

p {
	font-size: 1em;
	margin: 2em 0 0 0;
	line-height: 1.4em;
	color: white;
}

ul {

	margin: 0px;
	padding: 0px;
	transition-duration: 1s;
}

li {
	display: inline-block;
	box-sizing: border-box;
	width: 33%;
	list-style: none;
	text-align: center;
}

section {

}

/* APP */

#background_image {
	transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
	position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
}

#app {
	background-size: cover;
	background-repeat: no-repeat;
}

#splatter-container {
}


#splatter-container {
	height: 0;
}

#canvas-container {
	width: 100%;
	height: 100%;
}

#App-body {
	background-size: cover;
	opacity: 0;
}

.App-Container {
}

.container {
	width: 900px;
	max-width: 100%;
	margin: 0 auto;
}

.App-header {
	padding: 2em;
}

/* SPLATTER ANIMATIONS */

.splatter {
	display: block;
	position: absolute;
	max-width: 100%;
	margin: 0 auto;
	transition-duration: 2s;
}

#splatter_1 {
	transform: rotateZ(-180deg);
	top: -50%;
}

#splatter_2 {
	transform: rotateZ(180deg);
	left: -50%;
}

#splatter_3 {
	transform: scale(0);
	top: 100%;
}

#splatter_4 {
	top: 64%;
	right: 8%;
	transform: scale(0);
}

#splatter_5 {
	top: 3%;
	right: -14%;
	transform: scale(0);
}

/* HEADER */

.header-container {
	margin-top: 40px;
	display: flex;
	justify-content: space-between;
}

.header-container .header-text {
	text-align: left;
}

#edelman-logo {
	display: block;
	margin: 0 auto;
	opacity: 0;
	padding: 2em;
	transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-delay: 1s;
	-webkit-transition: 2s;
	transform: translateY(-400px);
}

#title {
	transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	transform: translateX(-300px);
	opacity: 0;
	flex: 1;
}

#description {
	transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0;
	transform: translateX(300px);
	margin: 0;
	flex: 1;
}

#level-up {
	transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	width: 100%;
	transform: translateY(-400px);
}

/* EMPLOYEE LIST */

#employees {
	transition: all 2000ms cubic-bezier(0.075, 0.82, 0.165, 1);
	opacity: 0;
	transform: translateY(500px);
	margin: 0 auto;
}

.employee {
	padding: 1em;
	overflow: hidden;
}

.sparkle-canvas {
	border-radius: 100%;
	cursor: pointer;
}

.employee:hover {
	cursor: pointer;
}

.profile {
	transition-duration: 0.3s;
	display: block;
	border-radius: 100%;
	max-width: 100%;
	width: 100%;
}

.profile:hover {
	filter: grayscale(100%);
	-webkit-filter: greyscale(100%);
}

/* POPUP OVERLAY */

#popup-container {
	transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	opacity: 0.5;
	background-color: black;
	z-index: 1;
	transition-duration: 0ms;
}

#popup {
	transition: all 200ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
	z-index: 99;
    width: 860px;
    height: 340px;
    padding: 2em;
    background: black;
}

#popup-content-container {
	display: flex;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.visible {
	visibility: visible;
	opacity: 1;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

/*.rollover {
	border-radius: 100%;
	-webkit-border-radius: 100%;
	max-width: 100%;
}*/

#popup-image {
	flex: 1;
	max-width: 100%;
	border-radius: 100%;
	-webkit-border-radius: 100%;
	// margin: 0 auto;
}

#popup-close {
	text-align: right;
	position: absolute;
	right: 1.5em;
	top: 1.5em;
}

#popup-text-container {
	flex: 1;
	margin: auto 0;
	margin-left: 2em;
}

#popup-close {
	z-index: 100;
}

#popup-button:hover {
	cursor: pointer;
}

#popup-name{
	text-align: left;
	letter-spacing: 0.3em;
	margin-bottom: 0.3em;
	line-height: 1.5em;
}

#popup-title {
	text-align: left;
	margin-top: 0px;
	font-weight: bold;
	letter-spacing: 0.1em;
	margin: 0;
}

#popup-blurb {
	// margin-top: 1em;
	text-align: left;
	// font-weight: 100;
}

#lindsey_giordano__surbey_ {
	transform: translateY(1em);
}

#carolina_rincon_sato {
	transform: translateY(1em);
}

/* MOBILE MEDIA QUERIES */


@media (max-width: 1440px) {
	#employees {
		transform: translateY(1000px);
	}
}
/* TABLET MEDIA QUERIES */

@media (max-width: 1080px){

}

@media (max-width: 924px) {

	ul {
		// grid-template-columns: repeat(2, 1fr);
		display: block;
	}

	li {
		display: inline-block;
		width: 50%;
	}

	.employee-name {
		font-size: 0.8em;
	}

	#App-body {
		padding: 2em;
	}

	.header-container {
		display: block;
	}

	#header {
		width: 100%;
	}

	#description {
		width: 100%;
	}

	.App-header {
		padding: 4em;
	}

	#popup-content-container {
		display: block;
		overflow-y: scroll; 
		position: absolute;
		padding: 2em 10em;
		height: 100%;
	}

	.profile {

	}

	#title {
		// font-size: 2em;
	}

	#description {
		// font-size: 1em;
	}

	#popup-text-container {
		margin-top: 2em;
		margin-left: 0;
	}

	#popup {
		width: initial;
		height: initial;
		padding: 0;
	}

	#popup-image {
		margin: 0 auto;
	}

	#popup-name {
		text-align: center;
	}

	#popup-title {
		text-align: center;
	}

	#popup-blurb {
		text-align: center;
		font-size: 1em;
		margin-bottom: 5em;
	}

}

@media (max-width: 800px) {
	.header-container {
		
	}

	.header-container #description {
		margin-top: 1em;
	}

}


@media (max-width: 600px) {



	#popup-content-container {
		padding: 2em 2em;
	}

	.App-header {
		padding: 2em;
	}
}

@media (max-width: 440px){

	h4 {
		letter-spacing: 0.2em;
	}

	h3 {
		letter-spacing: 0.2em;
	}

	.employee {
		overflow: inherit;
	}

	.App-header {
		padding: 2em;
	}

	#App-body {
		padding: 1em;
	}
}

